<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Svn2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21D5B13C1C42047500F52DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21D5B1551C42047500F52DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21D5B1601C42047500F52DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
